services:
  nats-ui:
    image: ghcr.io/nats-nui/nui:latest
    ports:
      - "31311:31311"
  nats-local:
    image: nats:alpine
    ports:
      - "4444:4222"
      - "8888:8222"
    command: --js
  nats-streaming:
    image: nats-streaming:alpine
    ports:
      - "4222:4222"
      - "8222:8222"

